@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Mooli', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    text-align: justify;
    background-color: black;
}

img {
    z-index: 2;
    width: 10vw;
}

section {
    z-index: 2;
}

.on {
    filter: drop-shadow(0 -5rem 10rem rgb(255, 191, 0))
            drop-shadow(0 -2rem 3.5rem rgba(255, 255, 0, 0.965));
}
